.nav {
    margin: 25px !important;
}

#content {
    line-height: 25px;
    margin-bottom: 40px;
}

.video-container {
    height: 300px;
    position: relative;
}

.video-container video {
  width: 100%;
  height: max-content;
  position: absolute;
  z-index: 0;
  opacity: 0.2;
}

/* Just styling the content of the div, the *magic* in the previous rules */
.video-container .caption {
  z-index: 1;
  position: relative;

  padding: 175px 20%;
  text-align: center;
  min-height: 195px
}

#school-logo {
    border-radius: 14%;

    height: auto;
    max-height: 155px;
}

footer {
    padding: 25px;
    float: left;
    position: relative;
    width: 100%;
    background-color: black !important;
    bottom: 0px;
    color: white;
}