.nav {
    margin: 25px;
}

#content {
    margin: 25px;
}

footer {
    padding: 25px;
    position: fixed;
    width: 100%;
    height: 250px;
    background-color: black !important;
    bottom: 0px;
    left: 0px;
    right: 0px;
    color: white;
}